<tr>
  <p><th>Product:</th><%= line_item.product.name %></p>
  <p><th>Price:</th><%= number_to_currency(line_item.product.price, precision: 2)%></p>
  <p><th>Quantity:</th><%= line_item.quantity %></p>
</tr>
